.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
	--nav_bgcolor: #72e2ff;
	--fnd_bgcolor: #65dfff;

	--text-fill: #fff;
	--stroke-outer-color: #ff6e34f6;
	--stroke-outermost-color: #492425;
	--stroke-inner-color: #492425;
	--stroke-outer-size: 14px;
	--stroke-outermost-size: 20px;
	--stroke-inner-size: 3px;
	--stroke-gradient-size: 10px;

	--wstroke-outer-color: #34ccfff6;
	--wstroke-outermost-color: #000000;
	--wstroke-inner-color: #000000;

	--wstroke-outer-size: 14px;
	--wstroke-outermost-size: 20px;
	--wstroke-inner-size: 3px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kanit", sans-serif;
	font-size: 16px;
	color: black;
}
body {
	background-image: url("Assets/PaperTextureBg.jpg");
}
aside {
	position: fixed;
	background-color: var(--nav_bgcolor);
	height: clamp(70px, 10vw, 75px);
	border-bottom: 4px solid black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.2rem 3rem;
	margin: 0;
	gap: 0.5rem;
	z-index: 999;
	transition: top 0.6s ease-in-out;
}
aside a {
	width: 20%;
	height: 100%;
	display: flex;
	margin: 0;
	align-content: center;
}
aside a #logo {
	width: 180px;
	max-width: 100%;
	height: clamp(50px, 100%, 90px);
	align-self: center;
}
aside h2 {
	font-size: 20px;
	line-height: 28px;
	cursor: pointer;
	padding-left: 4rem;
}

nav {
	background-color: var(--nav_bgcolor);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.75rem;
	padding: 0;
	margin: 0;
}
.questionmark,
.loc,
.smile {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.questionmark svg,
.loc svg {
	border: 3px solid black;
	border-radius: 25px;
}
nav #flag {
	width: 40px;
	height: 40px;
	border: 3px solid black;
	border-radius: 25px;
}

.shadow_hover:hover {
	filter: drop-shadow(4px 4px black);
}
.shadow_hover {
	transition: filter 0.2s ease-in-out;
}

.fa-solid {
	font-size: 2rem;
}

.mobileview {
	display: none;
}
.tabletview {
	display: none;
}

.productwrap {
	background-image: url("Assets/footer-background.png");
	position: fixed;

	top: -200%;
	width: 100%;

	height: 100vh;
	transition: top 0.3s ease;
	z-index: 998;
}
.no-scroll {
    overflow: hidden;
}
.product-grid {
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 1fr;

	grid-template-areas: "pm p";

	width: calc(100%);
	height: 100%;
	position: absolute;
	padding: 3rem;
	padding-top: 8rem;

	border-radius: 10px;
	background-image: url("Assets/footer-background.png");
	background-size: cover; /* Ensure the image covers the element */
	background-position: center;
}

.productmenu {
	background-color: #f2ebe0;
	width: 100%;
	height: 100%;
	grid-area: pm;
	border-radius: 10px 0 0 10px;
	border: 4px solid black;
}

.productmenu ul li {
	height: 70px;
	list-style: none;

	text-align: center;

	font-size: 2rem;
	line-height: 38px;
	display: flex;
	justify-content: center; /* Centers horizontally */
	align-items: center;
}

.productmenu ul li:hover {
	background-color: black;
	color: #fff;
}

.products {
	background-color: #f2ebe0;
	width: 100%;
	height: 100%;

	grid-area: p;
	border-radius: 0 10px 10px 0;
	border: 4px solid black;
	border-left: 0;
	display: flex;
	padding: 2rem;
	flex-flow: row wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.productitem {
	border-radius: 20px;
	width: 200px;
	cursor: pointer;
	overflow: hidden;
}

.productitem img {
	position: relative;
	width: 100%;
	padding: 1rem;
	z-index: 9;
}
.p1 {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 300px;
	border: 4px solid black;
	border-radius: 20px;
	background-color: var(--nav_bgcolor);
	overflow: hidden;
}

.p1 h2 {
	font-size: 1.5rem;
	position: relative;
	background-color: #fff;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 9;
	padding: 1rem 2rem;
	line-height: 24px;
	padding-top: 1rem;

	flex: 1;
}

.svgcontainer {
	position: relative;
}

.p1 svg {
	position: absolute;
	z-index: 1;
	background-color: #fff;

	left: 0;
	top: -45px;
}

/* Nav Bar completes here  */
/* Only mobile nav bar product page remains */

.page1 {
	width: 100%;
	height: 100%;
}

.page1 .page1content {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 7rem 2rem 0rem 2rem;
}
.page1 .page1content .page1img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	border: 4px solid black;
}

.fndstr {
	width: max-content;
	background-color: var(--fnd_bgcolor);
	position: absolute;
	bottom: 25%; /* Adjust this to control the vertical position */
	right: 20%;
	transform: translate(20%, 25%);
	font-size: 1.8rem;
	line-height: 18px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	padding: 1rem;
	border: 4px solid black;
	border-radius: 5px;
}

.page1scroller {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 18vh; /* Adjust as needed */
	overflow: hidden;
}

/* Style for both h2 elements */
.styled-h2 {
	position: absolute;
	font-size: 5rem;
	letter-spacing: 2px;
	word-spacing: 10px;
	white-space: nowrap; /* Prevent text from wrapping */
	animation: scrolll 40s linear -15s infinite;
}

.page1scroller:hover .styled-h2 {
	animation-play-state: paused;
}

.styled-h2::before,
.styled-h2::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 100%;
	white-space: nowrap;
}

.styled-h2::after {
	content: attr(data-text);
	right: 200%; /* Start position of the second instance */
}

/* Specific styles for outer and inner stroke */
.outer-stroke {
	font-size: calc(4.5rem+2px);
	color: transparent;
	-webkit-text-stroke: var(--stroke-outer-size) var(--stroke-outer-color);
}
.outermost-stroke {
	font-size: calc(4.5rem+2px);
	color: transparent;
	-webkit-text-stroke: var(--stroke-outermost-size)
		var(--stroke-outermost-color);
}

.inner-stroke {
	color: var(--text-fill); /* Text fill color */
	-webkit-text-stroke: var(--stroke-inner-size) var(--stroke-inner-color);
}

@keyframes scrolll {
	0% {
		transform: translateX(10%); /* Start outside from the right */
	}
	100% {
		transform: translateX(-100%); /* Move to the left outside of the screen */
	}
}
@keyframes scrolllr {
	0% {
		transform: translateX(-100%); /* Start outside from the left */
	}
	100% {
		transform: translateX(100%); /* Move to the right outside of the screen */
	}
}

/* Update 9-Sep-2024: I think till page one is complete except the mobile cart page */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.page2 {
	width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 3rem 2rem;
	background: linear-gradient(to bottom, #f13f79, #ff576f);
	border-top: 4px solid black;
	position: relative;
}

.page2 .styled-h2 {
	margin: 0; /* Remove default margin */
	padding: 0;
	font-size: 19vw;
	line-height: 0;
	letter-spacing: -10px;
	color: #ffffff;
	opacity: 0.2;
	animation: scrolll 50s linear -15s infinite;
}

.page2-inner {
	display: flex;
	justify-content: space-around;
	position: relative;
}

.page2-container {
	position: absolute;
	width: 100%;
	height: 100%;

	border-radius: 20px;
	border: 4px solid black;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.marquee-group {
	display: flex;
	flex-direction: column;
	flex: 1; /* Each marquee group will take equal height in the container */
	width: 100%;
	justify-content: center;
	align-items: center;
}

.inner-div {
	position: relative;

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 14vw;
}

.page2-container .center .styled-h2 {
	font-size: 18vw;
	line-height: 0;
	letter-spacing: -10px;
	-webkit-text-stroke: 3px rgba(255, 255, 255, 0.762);
	color: transparent;
	animation: scrolllr 50s linear -15s infinite;
	animation-play-state: start;
}

.page2-container .center .styled-h2::before {
	left: -100%; /* Start position of the first instance */
}

.page2-container .center .styled-h2::after {
	left: 100%; /* Position for the second instance */
}

.page2-container-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;

	padding: 4rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}
.page2-container-overlay .inner-divv-top {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 0 0.5rem;
}

.inner-divv-top img {
	max-width: 100%;
	object-fit: contain;
}

.page2 .cloud {
	position: absolute;
}

.left {
	top: 50%;
	left: 12%;
	transform: translateY(-50%);
	animation: cloud1 5s linear infinite;
}
.right {
	right: 12%;
	animation: cloud2 5s linear infinite;
}

@keyframes cloud1 {
	0% {
		top: 50%;
	}
	50% {
		top: 80%;
	}
	100% {
		top: 50%;
	}
}
@keyframes cloud2 {
	0% {
		top: 10%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 10%;
	}
}

.page2-container-overlay .inner-divv-center {
	width: 60%;
	display: flex; /* 3 columns */
	flex-wrap: wrap;
	gap: 3rem; /* Space between items */
	justify-content: center;
	align-content: center; /* Center items horizontally */
	margin: 0 auto;
}

.encloser {
	max-width: 30%;
}

.page2-container-overlay .inner-divv-center img {
	width: 100%;
	height: 4.5rem;

	background-color: #fff;
	border-radius: 10px;
	border: 4px solid black;
}

.page2-container-overlay .inner-divv-bottom {
	display: flex;
	flex-direction: column; /* 3 columns */

	justify-content: center;
	align-content: center;
}

.page2-container-overlay .inner-divv-bottom h2 {
	font-size: 2.6rem;
	color: white;
	-webkit-text-stroke: 2px black;
}

.page2-container-overlay button {
	width: fit-content;
	font-size: 2.5rem;
	padding: 0 2rem;
	background-color: #cefc17;

	border: 4px solid black;
	border-radius: 10px;
	cursor: pointer;
}

/* * Page2 Completes Here */

/**************************************************/

.page3 {
	width: 100%;

	height: fit-content;

	padding: 4rem 2rem;

	border-top: 4px solid black;
}

.page3insider {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
}
.page3wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(Assets/texture-splotchy.svg);
	background-size: contain;
	border-radius: 20px;
	opacity: 0.3;
	z-index: 2;
	overflow: hidden;
	border: 4px solid black;
	position: relative;
}

.page3-container {
	width: 100%;
	position: relative;
	border: 4px solid black;
	background-color: #cefc17;
	border-radius: 20px;
}

.page3header-outer {
	width: fit-content;
	height: auto;
	/* background-color: green; */
	margin: 0 auto;
	margin-top: 8rem;
	margin-bottom: 5rem;
}

.page3header {
	width: fit-content;
	height: auto;
	/* background-color: wheat; */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	z-index: 9;
	padding-top: 1rem;
	margin: 0 auto;
}

.preswivel {
	position: absolute;

	left: 0;
	top: 0;
	z-index: 1;
}

/* we gave animation to this because this will take parent sivel as center for rotating */
.swivel-container {
	height: 3rem;
	position: absolute;
	transform-origin: center center;
	display: flex;
	justify-content: center;
	z-index: 1;
	animation: sewsaw 2s ease-in-out infinite;
}

.swivel {
	position: absolute;
	font-size: 5vw;
	z-index: 3;
	line-height: 1;
}

@keyframes sewsaw {
	0% {
		transform: rotate(-16deg);
	}
	50% {
		transform: rotate(-25deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}

/* Specific styles for outer and inner stroke */
.page3header .outer-stroke {
	font-size: calc(5vw+2px);
	color: transparent;
	-webkit-text-stroke: 8px #ff3a89;
}
.page3header .outermost-stroke {
	font-size: calc(5vw+2px);
	color: transparent;
	-webkit-text-stroke: 12px #000000;
}

.page3header .inner-stroke {
	font-size: calc(5vw+2px);
	color: var(--text-fill); /* Text fill color */
	-webkit-text-stroke: 2px var(--stroke-inner-color);
}

.page3header .socialfeed {
	position: relative;
	white-space: nowrap;
}

.page3header .socialfeed p {
	color: #ffffff;
	animation: shadoweffect 5s ease-in-out infinite;
	text-shadow: 1px 1px black;
	-webkit-text-stroke: 2px black;
}

@keyframes shadoweffect {
	0% {
		text-shadow: 1px 1px black;
	}

	50% {
		text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black,
			5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black,
			10px 10px black;
	}

	100% {
		text-shadow: 1px 1px black;
	}
}

.page3header .socialfeed p:first-child {
	font-size: 6.5vw;
	/* background-color: red; */
	line-height: 6.5vw;
	text-align: center;
}
.page3header .socialfeed p:nth-child(2) {
	font-size: 6.5vw;
	/* background-color: rebeccapurple; */
	line-height: 6.5vw;
	text-indent: -2%;
	text-align: center;
}

.floatingpng {
	/* background-color: red; */
	width: 100%;
	height: 100%;
}

.floatingpng .cloudl {
	position: absolute;
	left: -2rem;
	top: 40%;
	animation: cloudd3 3s infinite ease-in-out;
	z-index: 9;
}
.floatingpng .cloudr {
	position: absolute;
	right: 2rem;
	top: 20%;
	animation: cloudd3 3s infinite ease-in-out;
}
.floatingpng img {
	position: absolute;
	right: 2rem;
	top: 28%;
	animation: cloudd3 3s infinite ease-in-out;
	filter: drop-shadow(0 0 0.1em black);
}

.carousel-outer {
	width: 100%;
	height: 570px;
	/* background-color: red; */
	overflow: hidden;
}
.item-container {
	height: fit-content;
	/* background-color: orange; */
	z-index: 9;
	display: flex;
	/* gap: 0.5rem; */
	transition: transform 0.5s, width 0.5s;
	/* overflow: hidden; */
}

.item-wrapper {
	min-width: 316px;
	height: 493px;
}

.item {
	min-width: 316px;
	height: 493px;

	padding: 0.5rem;
	/* background-color: pink; */
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1rem;
	/* transition: transform 0.5s, width 0.5s; */
	transform: translateX(-720px);
}
.item .thumbnail {
	position: relative;
	flex: 1;
	width: 100%;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 3px solid #000;
	object-fit: cover;
}
.thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 300 / 380;
}
.thumbnail video {
	width: 100%;
	height: 100%;
	aspect-ratio: 300 / 380;
	object-fit: cover;
}

.labelbottom {
	display: flex;
	gap: 0.5rem;
	bottom: 0;
	width: 100%;

	border-radius: 5px;
	border: 3px solid #000;
	background: white;
	min-height: 80px;
	max-height: 80px;
	align-items: center;

	overflow: hidden;
}

.labelbottom .prod-img {
	flex-basis: 30%;
	background-color: #b1f1ff;
	border-right: 3px solid #000;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prod-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.labelbottom .prod-name {
	width: fit-content;
	flex: 1;
	/* background-color: green; */

	font-size: 1.2rem;
	line-height: 1.3rem;
}

.carousel-btn {
	width: 100%;
	/* background-color: #fff; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.carousel-btn i {
	cursor: pointer;
	font-size: 1.2rem;
	transform: scaleX(1.5);
}

.page4 {
	width: 100%;

	background: linear-gradient(#ff490f, #fd369d); /* Background gradient */

	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.page4inner {
	width: 100%;
	height: 100%;
	padding: 2rem 3rem;
	background: url(Assets/dot-pattern-white_2.svg);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.page4inner .floatupper {
	position: relative;
	width: 100%;
	height: 4rem;
	/* background-color: #fff; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.page4inner .floatupper .cloud {
	position: absolute;
}

.page4inner .floatupper .cloud:nth-child(1) {
	left: 2rem;
	bottom: -40%;
	animation: cloudd3 3s infinite ease-in-out;
}

.page4inner .floatupper .cloud:nth-child(2) {
	left: 50%;
	top: 20%;
	align-self: flex-end;
	animation: cloudd3 3s infinite ease-in-out;
	animation-delay: 0.2s;
}

.page4inner .floatupper .cloud:nth-child(3) {
	right: -1rem;
	top: 0;
	align-self: flex-end;
	animation: cloudd3 3s infinite ease-in-out;
}

@keyframes cloudd3 {
	0% {
		transform: translateY(-25%);
	}
	50% {
		transform: translateY(1%);
	}
	100% {
		transform: translateY(-25%);
	}
}

.page4inner .vid {
	width: 100%;
	/* background-color: #fff; */

	height: auto;

	border-radius: 20px;
	border: 4px solid black;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page4inner .vid img {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	top: 20%;
	animation: cloudd3 3s infinite ease-in-out;
}

.page4inner .vid iframe {
	width: 100%;
	max-height: 600px;
	aspect-ratio: 16/9;
	border-radius: 15px;

	object-fit: cover;
}

.page4inner .floatlower {
	position: relative;
	width: 100%;
	min-height: 4rem;
	/* background-color: #fff; */
	display: flex;
}

.page4inner .floatlower .cloud:first-child {
	position: absolute;
	width: 8%;
	left: -2rem;
	height: 80px;
	top: 10%;
	animation: cloudd3 3s infinite ease-in-out;
}
.page4inner .floatlower .cloud:last-child {
	position: absolute;
	right: -10px;
	width: 8%;
	height: 80px;
	top: 10%;
	animation: cloudd3 3s 0.3s infinite ease-in-out;
}

.page4inner .floatlower img {
	position: absolute;
	width: 60px;
	height: 60px;
	left: -1rem;
	top: 50%;
	animation: cloudd3 3s infinite ease-in-out;
}

/* **************************** */

.page5 {
	width: 100%;
	max-height: 100%;
	padding: 3rem 4.5rem;
	background-image: url(Assets/footer-background-clip-path.bundle.min.svg);
	background-size: cover;
	background-color: rgb(21 204 255);
}

.page5-inner {
	width: 100%;
	min-height: fit-content;
	background-color: #58dcff;
	color: #492425;
	border: 4px solid black;
	border-radius: 20px;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.9fr 0.9fr 0.2fr;
	grid-template-areas:
		" uprl uprr"
		" lwrl uprr"
		" lwrl lwrr";
	overflow: hidden;
}

.page5-inner .uprl {
	grid-area: uprl;
	display: flex;
	justify-content: center;
	padding-top: 4rem;
	color: #492425;
	/* background-color: #fff; */
}

.page5-inner .uprl .column {
	margin: 0 20px;
	color: #492425;
}
.page5-inner .uprl .column label {
	font-size: 1.6rem;
	margin-bottom: 0.1rem;
	color: #492425;
}

.page5-inner .uprl .column ul {
	list-style: none;
	color: #492425;
}

.page5-inner .uprl .column ul li {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0.5rem;
	color: #492425;
}
.page5-inner .uprl .column ul li:hover {
	color: #000;
	cursor: pointer;
}
.page5-inner .lwrl {
	grid-area: lwrl;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	padding: 1rem;
	/* background-color: orange; */
	color: #492425;
}

.page5-inner .lwrl img {
	width: 100%;

	object-fit: cover;
}
.page5-inner .lwrl h6 {
	font-weight: 500;
	text-align: center;
	font-size: 0.8rem;
}

input[type="checkbox"] {
	display: none;
}

.uprr {
	grid-area: uprr;
	padding: 3rem;
	padding-top: 6rem;
	/* background-color: green; */
	color: #492425;
}

/* Social Media Icons */
.uprr .social-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 2rem;
}

.uprr .social-icons i {
	width: 3.5rem;
	height: 3.5rem;
	font-size: 2rem;
	border-radius: 100%;
	background-color: #fff;
	border: 3px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Text Message Signup */
.uprr .text-signup h1 {
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #492425;
}
.uprr .text-signup h1 span {
	font-size: 1.5rem;
	color: #492425;
	line-height: 1.6rem;
	text-decoration: underline;
	text-decoration-color: #cefc17; /* Change the underline color */
	text-decoration-thickness: 3px; /* Change the thickness */
}
.uprr .text-signup p {
	font-size: 9px;
	line-height: 10px;
	margin: 10px auto;
	max-width: 360px;
	color: #492425;
	text-align: center;
	font-weight: 400;
}
.uprr .text-signup p span {
	font-size: 9px;
	line-height: 10px;

	max-width: 350px;
	color: #492425;
	text-align: center;
	font-weight: 400;
	text-decoration: underline;
}

/* Email Signup */
.uprr .email-signup h2 {
	padding: 0 2rem;
	font-size: 1.3rem;
	margin-bottom: 10px;
	text-align: center;
	color: #492425;
}

.uprr .email-input {
	height: 70px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.uprr .email-input input {
	width: 260px;
	padding: 10px;
	border: 3px solid #000;
	border-radius: 10px 0 0 10px;
	font-size: 1rem;
}

.uprr .email-input button {
	padding: 10px 20px;
	border: none;
	background-color: #0084ad;
	color: white;
	border-radius: 0 10px 10px 0;
	border: 3px solid #000;
	border-left: 0;
	font-size: 1rem;
	cursor: pointer;
}

.uprr .email-input button:hover {
	background-color: rgb(7, 70, 137);
}

/* Shopify Section */
.uprr .shopify-section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	margin-top: 1.5rem;
}

.uprr .shopify-section img {
	aspect-ratio: 170/49;
	height: auto;
}

/* Footer */
.lwrr {
	grid-area: lwrr;
	/* background-color: wheat; */
}
.lwrr .lwrr-links {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	margin-bottom: 1rem;
}
.lwrr .lwrr-links a {
	font-size: 12px;
	color: black;
	text-decoration: none;
}
.lwrr .lwrr-links a:hover {
	text-decoration: underline;
}
.lwrr p {
	font-size: 12px;
	text-align: center;
	margin-bottom: 1rem;
}


/* Mobile Screen */
@media (max-width: 430px) {
	* {
		font-size: 12px;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.desktopview {
		display: none;
	}
	.mobileview {
		display: inline-block;
	}

	aside {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem;
		margin: 0;
		gap: 0.5rem;
	}
	aside a {
		width: 100%;
		height: 100%;
		margin: 0;
		display: flex;
		justify-content: center; /* Horizontally center the content */
		align-items: center; /* Vertically center the content */
	}
	aside a #logo {
		width: 130px;
	}
	nav {
		width: fit-content;
		
	}

	.page1 .page1content {
		
		box-sizing: border-box;
		padding: 6rem 1rem;
		padding-bottom: 0;
	}

	.page1 .page1content .page1img {
		width: 100%;
		object-fit: cover;
		border-radius: 5px;
		border: 4px solid black;
	}

	.fndstr {
		width: max-content;
		position: absolute;
		right: 50%;
		transform: translate(50%, 100%);

		background-color: var(--fnd_bgcolor);
		padding: 1rem;
	}

	.page1scroller {
		height: 6rem;
	}

	.styled-h2 {
		position: absolute;
		font-size: 3rem;
		letter-spacing: 2px;
		word-spacing: 10px;
		white-space: nowrap; /* Prevent text from wrapping */
		animation: scrolll 40s linear -15s infinite;
	}

	.outer-stroke {
		font-size: calc(3rem+2px);
		color: transparent;
		-webkit-text-stroke: 8px var(--stroke-outer-color);
	}
	.outermost-stroke {
		font-size: calc(3rem+2px);
		color: transparent;
		-webkit-text-stroke: 12px var(--stroke-outermost-color);
	}

	.inner-stroke {
		color: var(--text-fill); /* Text fill color */
		-webkit-text-stroke: var(--stroke-inner-size) var(--stroke-inner-color);
	}

	.page2 {
		padding: 2rem 1rem;
	}

	.page2-container-overlay {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 10;

		padding: 3rem 1.8rem;
	}

	.cloud svg {
		width: 4rem;
	}

	.left {
		top: 50%;
		left: 1px;
		transform: translateY(-50%);
		animation: cloud1 5s linear infinite;
	}
	.right {
		right: 1%;
		animation: cloud2 5s linear infinite;
	}

	.encloser {
		max-width: 45%;
		height: 4rem;
	}

	.page2-container-overlay .inner-divv-center {
		width: 100%;
	}

	.page3header .socialfeed p:first-child {
		font-size: 10vw;
		/* background-color: red; */
		line-height: 10vw;
		
	}
	.page3header .socialfeed p:nth-child(2) {
		font-size: 10vw;
		/* background-color: rebeccapurple; */
		line-height: 10vw;
		
	}

	.item {
	
	transform: translateX(-280px);
}
	.page5-inner {
		display: flex;
		flex-direction: column;
		/* grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.9fr 0.9fr 0.2fr;
	grid-template-areas:
		" uprl uprr"
		" lwrl uprr"
		" lwrl lwrr"; */
		overflow: hidden;
	}

	.page5 {
		padding: 2rem 1rem;
	}
	.page5-inner {
		padding: 0;
	}
	.page5-inner .lwrl img {
		width: 60%;
		margin: 0 auto;
		object-fit: cover;
	}

	.uprl {
		display: flex;
		flex-direction: column;
		padding: 0 !important;
	}

	.page5-inner .uprl .column {
		border: 1px solid black;
		padding: 1rem;
		margin: 0;
	}

	/* Initially hide the lists */
	.column ul {
		display: none;
	}
	.column ul li {
		padding-left: 1rem;
	}

	/* Show the list when checkbox is checked */
	input[type="checkbox"]:checked + label + ul {
		display: block;
	}

	/* Add an arrow icon for dropdown indicator */
	.menu-title::after {
		content: "\25BC"; /* Down arrow */
		float: right;
		font-size: 14px;
	}

	/* Change arrow direction when open */
	input[type="checkbox"]:checked + label::after {
		content: "\25B2"; /* Up arrow */
	}
}
/* Ipad and Tablets */
@media (min-width: 431px) and (max-width: 1279px) {
	* {
		font-size: 14px;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	aside .mobileview {
		display: inline-block;
	}
	aside .desktopview {
		display: none;
	}
	aside {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem;
		margin: 0;
		gap: 0.5rem;
	}
	aside a {
		width: 100%;
		height: 100%;
		margin: 0;
		display: flex;
		justify-content: center; /* Horizontally center the content */
		align-items: center; /* Vertically center the content */
	}
	aside a #logo {
		width: 130px;
	}
	nav {
		width: fit-content;
	}
	.productwrap {
		display: none;
	}

	.fndstr {
		background-color: var(--fnd_bgcolor);
		position: absolute;
		bottom: 23%;
		right: 20%;
		transform: translate(20%, 20%);
		font-size: 1.8rem;
		line-height: 18px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding: 1rem;
		border: 4px solid black;
		border-radius: 5px;
	}

	.page1scroller {
		height: 10rem;
	}

	.page2 {
		height: 100%;
	}

	.left {
		top: 50%;
		left: 2%;
		transform: translateY(-50%);
		animation: cloud1 5s linear infinite;
	}
	.right {
		right: 2%;
		animation: cloud2 5s linear infinite;
	}

	.encloser {
		max-width: 27%;
		height: 4.5rem;
	}

	.page2-container-overlay .inner-divv-center {
		width: 75%;
	}

	.page5-inner {
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.page5-inner .lwrl img {
		width: 40%;
		margin: 0 auto;
		object-fit: cover;
	}
}
